body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.navbar {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navbar:hover {
  color: #404bbf;
}

.navbar:link {
  color: #404bbf;
}

.telmail {
  font-style: normal;
  color: #434455;
}
.telmail {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.telmail:hover {
  color: #404bbf;
}
.telmail:link {
  color: #404bbf;
}

.section1 {
  background-color: #2e2f42;
}
.baslik1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

.mission1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mission2 {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section3 {
  background-color: #f4f4fd;
}
.section31 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team1 {
  background-color: #ffffff;
}
.team2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team3 {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
